<ul>
 <app-todo *ngFor= "let todo of list" [data]= "todo"
 (yosi) = "showText($event)" >

 </app-todo>

</ul>

{{ntitle}}
<input [(ngModel)] = "datatitle" type = "text" mane="datatitle"> <button (click) ="aData()"></button>
{{datatitle}}